<configuration>
    <dllmap dll="csfml-graphics-2" target="libosx/libcsfml-graphics.2.0.dylib" os="osx" />
    <dllmap dll="csfml-window-2" target="libosx/libcsfml-window.2.0.dylib" os="osx" />
    <dllmap dll="csfml-graphics-2" target="libcsfml-graphics.so.2.0" os="linux" />
    <dllmap dll="csfml-window-2" target="libcsfml-window.so.2.0" os="linux" />
</configuration>
